
.row-wrapper{

}

.res-row-wrapper{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.row-wrapper>h1{
    font-family: 'Courier New', Courier, monospace;
}
.full{
    height: 70vh;
}


